# EntityPlayer
public net.minecraft.entity.player.EntityPlayer field_71083_bS # sleeping
# EntityArrow
public net.minecraft.entity.projectile.EntityArrow field_70254_i # inGround
public net.minecraft.entity.projectile.EntityArrow field_184552_b # timeInGround
